@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="/statemangment/TempDatatest"> test TempData </a>

<a href="/statemangment/CookiesTest"> test Cookies</a>

<a href="/statemangment/SessionTest"> test Session</a>

<a href="/statemangment/ClearAll"> clear all</a>
