@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="/ModelBinding/ShowForm">Bind primitive data</a>
<a href="/ModelBinding/ShowForm">Bind user defined</a>
<a href="/ModelBinding/showform">Bind nested objects</a>
<a href="/ModelBinding/index/ali">Bind collections</a>
<a href="/ModelBinding/showCollectionform">Bind Array</a>
<hr />
<p>@TempData["primitive"]</p>
<p>@TempData["product"]</p>
<p>@TempData["category"]</p>
<p>@TempData["data"]</p>
<hr />
@Model