@{
    ViewData["Title"] = "Home Page";
    //TempData.Keep("msg");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*<p>@TempData["msg"]</p>*@
    <p>@TempData.Peek("msg")</p>
</div>

@section aside{
    <li>Students</li>
    <li>Instrucors</li>
    <li>Courses</li>
}

@section scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
